* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
  background-color: #434343;
}

.white {
  color: white;
}

.bold {
  font-weight: bolder;
  font-size: 18px;
}

#app {
  width: 100%;
  height: 100vh;
}

header {
  background-color: black;
  min-height: 80px;
}

header>div {
  width: 90%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header span {
  color: red;
  font-weight: 700;
  font-size: 40px;
}

header input {
  height: 40px;
}

#film {
  height: calc(100% - 80px);
  overflow-y: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contenitore {
  width: calc(100% / 6 - 80px);
  margin: 20px 40px;
  border: 3px solid white;
  background-color: black;
}

.locandina {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.locandina img {
  width: 100%;
  height: auto;
}

.informazioni {
  display: none;
}

.informazioni div {
  margin: 10px 0;
}

.overview {
  max-height: 150px;
  overflow-y: auto;
}

.informazioni img{
  width: 20px;
  height: auto;
}

.contenitore:hover .locandina {
  display: none;
}

.contenitore:hover .informazioni {
  display: initial;
}

.fa-star {
  color: yellow;
}
