<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
        <title>Boolflix</title>
    </head>
    <body>

      <div id="app">
        <header>
          <div>
            <span> BOOLFLIX </span>
            <select @change="console" v-model="selected">
              <option v-for="option in genresTotal" :value="option.id">{{option.name}}</option>
            </select>
            <i class="fas fa-chevron-left white" @click="pageDown" v-if="pageSearch != 1 && inputSearch != ''"></i>
            <span class="white" v-if="inputSearch != ''">Cambia pagina</span>
            <i class="fas fa-chevron-right white" @click="pageUp" v-if="inputSearch != ''"></i>
            <input v-model="inputSearch" type="text" name="" value="" placeholder="search" @keyup="cercaFilm">
          </div>
        </header>

        <div id="film">
          <div v-for ="movie in totalDb" class="contenitore" @mouseenter="genresCast(movie.type, movie.id)" v-if="(movie.genre_ids.includes(selected) || selected === '' || selected === 0)">
            <div class="locandina"> <img :src="movie.poster_path == 'https://image.tmdb.org/t/p/w342null' ? 'img/Boolflix.png' : movie.poster_path" alt=""> </div>
            <div class="informazioni">
              <div> <span class="white bold">Titolo:</span> <span class="white smallSize">{{movie.title || movie.name}}</span></div>
              <div v-if="movie.title != movie.original_title"> <span class="white bold">Titolo originale:</span> <span class="white smallSize">{{movie.original_title || movie.original_name}}</span></div>
              <div class="overview" v-if="movie.overview != ''"><span class="white bold">Overview:</span> <span class="white smallSize">{{movie.overview}}</span></div>
              <div>
                <span v-if="movie.vote_average != 0" class="white bold">Rating:</span>
                <i class="fas fa-star" v-if="movie.vote_average > 0"></i>
                <i class="fas fa-star" v-if="movie.vote_average > 1"></i>
                <i class="fas fa-star" v-if="movie.vote_average > 2"></i>
                <i class="fas fa-star" v-if="movie.vote_average > 3"></i>
                <i class="fas fa-star" v-if="movie.vote_average > 4"></i>
                <span v-if="movie.vote_average == 0" class="white bold">Rating not available</span>
              </div>
              <div> <span class="bold white">Lingua originale:</span> <img :src="movie.original_language" alt=""> </div>
              <div><span class="white bold">Cast:</span> <span v-for="actor in cast" class="white smallSize" v-if="actor != 'null'">{{actor}};</span></div>
              <div><span class="white bold">Genre:</span> <span v-for="genre in genres" class="white smallSize">{{genre}};
              </span></div>
            </div>
          </div>
        </div>

      </div>

      <script src="js/script.js"></script>
    </body>
</html>
